* {
    margin:0;
    }

body{
    /*FOR DEBUG*/
    /* box-sizing: border-box;
    outline: 1px solid limegreen !important;
    background: rgb(0 100 0 / 0.1);*/
    font-family: 'Poppins', sans-serif; 
    font-weight: 200;
}

.container{
    margin-top: 2%;
}

header{
    margin: auto;
    width: 30em;
    text-align: center;
    margin-bottom: 2em;
}

#title{
    font-weight: 200;
    margin-bottom: 10px;
}

#title-bold{
    font-weight: 600;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    padding: 1.5em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.describe{
    margin-bottom: 2em;
}

svg{
    align-self: flex-end;
}

.cyan-card{
    border-top: 3px solid hsl(180, 62%, 55%);
}

.red-card{
    border-top: 3px solid hsl(0, 78%, 62%);
}

.orange-card{
    border-top: 3px solid hsl(34, 97%, 64%);
}


.blue-card{
    border-top: 3px solid hsl(212, 86%, 64%);
}

.title-card{
    font-weight: 600;
}

@media screen and (max-width:1170px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .middle{
        display: flex;
    }
}


@media screen and (min-width:760px){
    .card-content{
        width: 20em;
    }
}


@media screen and (max-width:760px){
    .container{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }

    header{
        width: 100%;
    }

    main{
        display: block;
    }

    #title{
        font-size: 1.5em;
        text-align: center;
        font-weight: 200;
    }

    #title-bold{
        font-weight: 600;
    }

    #subtitle{
        text-align: center;
    }

    main{
        margin-top: 3em;
    }

    .card-content{
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        padding: 1.5em;
    }
    .middle{
        display: block;
    }
    
    svg{
        right: 0;
        align-self: flex-end;
    }
    .title-card{
        font-size: 1.2em;
    }

    .describe{
        margin-bottom: 2em;
    }
}